:root {
    --dark-blue: #234163;
    --bluish-white: #ddddff;
    --mid-blue: #e4f4fc;
    --brown: #3d3021;
    --orange-white: #ffddcc;
    --dark-grey: #101010;
    --seethrough-grey: #101010CD;
    --background-table: white;
}

* { 
    margin: 0; 
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   }

.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

.text-box {
    height: 100%;
    max-width: 100%;
    padding: 4% 3%;
}

header {
    width: 100%;
    top:0;
    z-index: 1;
    position: absolute;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px solid var(--border-black);
    height: 30px;
    padding: 0 15px;
}

nav > .logo {
    width: 120px;
    margin-top: 80px;
    margin-left: 10px;
}

#main-image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--seethrough-grey);
  }

.image > img {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.image-text {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.center {
    top: 40vh;
    left: 50vw;
}

.bottom {
    top: 95vh;
    left: 50vw;
}

.right {
    top: 4vh;
    right: -20px;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 30px;
    padding-bottom: 3%;
}

h1, h2, h3 {
    padding-bottom: 3%;
    color: var(--bluish-white);
}

/** TABLE DESIGN **/

table {
    margin: 25px auto 0 auto;
}

th, td{
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}


th, td:first-child {
    background-color: var(--bluish-white);
    color: black;
}

th:first-child {
    background-color: var(--dark-blue);
    color: black;
    border: none;
}

th:nth-child(2), tr:nth-child(2) td:first-child {
    border-radius: 10px 0 0 0;
}

th:last-child {
    border-radius: 0 10px 0 0;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

td {
    background-color: var(--background-table);
    color: black;
}

colgroup {
    width: 250px;
}

/**  FORM DESIGN  **/

form {
    height: 400px;
    width: 300px;
    text-align: left;  
    background: #f8f8f8;
    border: 2px solid var(--brown);
    border-radius: 10px;
    
}

form > :first-child {
    width: 100%;
    background-color: var(--orange-white);
    padding: 0 0;
    border-bottom: 1px solid var(--brown);
    text-align: center;
}

form > :not(:first-child) > input {
    border-radius: 5px;
    width: 98%;
    border: 2px solid var(--brown);
}

form > :not(:first-child) {
    padding: 0 15px 15px 15px;  
}

form > div > b {
    color: var(--dark-blue);
    font-size: 30px;
}

/**  CLASSES FOR COLOUR SCHEMES  **/

.bluish-white {
    background-color: var(--bluish-white);
    color: var(--dark-blue);
    text-align: left;
}

.dark-blue {
    background: var(--dark-blue);
    color: var(--bluish-white);
    text-align: left;
}

.orange-white {
    background-color: var(--orange-white);
    color: var(--brown);
    text-align: right;
}

.beige {
    background-color: var(--brown);
    color: var(--orange-white);
    text-align: left;
}

/** FOOTER **/

footer {
    min-width: 100%;
    min-height: 15vh;
    background-color: var(--dark-grey);
    color: var(--bluish-white)
}
