

/**  DOCUMENT-WIDE  **/

:root {
    --dark-blue: #234163;
    --darkest-blue:#122133;
    --bluish-white: #ddddff;
    --faint-blue: #eeeeff;
    --dark-orange: #634d24;
    --orange-white: #ffddcc;
    --faint-orange: #ffeedd;
    --grey1: #eaeaea;
    --grey2: #e0e0e0;
    --grey3: #cccccc;
    --grey4: #999999;
    --grey5: #222222;
    --seethrough-grey: #101010CD;
}

* { 
    margin: 0; 
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   }

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  .hide {
    display: none !important;
  }


  /**  HEADINGS AND FONTS  **/

h1, h2 {
    padding-bottom: 3%;
    color: var(--bluish-white);
}

h1 {  /**  MAIN TITLE  **/
    font-size: 2.5rem;
}

h2 {  /**  MAIN TITLE SMALL TEXT  **/
    font-size: 1rem;
}

h3 {  /**  MAJOR SUBTITLE  **/
    font-weight: 500;
    font-size: 2.25rem;
    padding: 1% 0 2% 0;
    color: var(--darkest-blue);
}

h4 {  /**  STANDARD SUBTITLE  **/
    font-size: 2rem;
    padding-bottom: 3%;
}

h5 {  /**  MINOR TITLE  **/
    font-weight: 700;
    font-size: calc(0.6875rem + 0.625vw);
    color: var(--bluish-white);
}

.circle-box p {
    font-size: calc(0.5rem + 0.625vw);
    color: var(--grey4);
}


/**  MAIN BODY SECTIONS  **/

.container {
    display: inline-block;
    width: 100%;
  }

.text-box {
    padding: 4% 3%;
    text-align: left;
}

.align {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.align-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rounded {
    border-radius: 30px 30px 0 0;
}

.circle-box {
    padding-top: 50px;
    text-align: center;
    width: 22vw;
    min-width: 160px;
    max-width: 320px;
    height: calc(420px + 5vw);
    vertical-align: top;
}

.circle {
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    line-height: 9vw;
    font-size: 5vw;
    border: 2px solid var(--bluish-white);
    background-color: var(--bluish-white);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: var(--grey5);
    margin-bottom: 20px;
    vertical-align: top;
  }

  .small {
    border-radius: 30px;
    border: 1px solid var(--dark-blue);
  }


/**  BUTTONS  **/

button {
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover:not(.index-button) {
    transform: scale(1.05);
}

button:hover.index-button {
    transform: scale(1.1);
}

.main-button {
    width: calc(140px + 10vw);
    height: 60px;
    border-radius: 10px;
    box-shadow: var(--grey2);
    color: black;
    border: none;
    margin: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.index-button {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.index-button > div {
    width: calc(140px + 10vw);
    height: 40px;
    margin-top: -5px;
    border-radius: 0 0 10px 10px;
    color: black;
    font-weight: 500;
    font-size: 1rem;
    background-color: white;
}

.button-image {
    width: calc(140px + 10vw);
    height: auto;
    border-radius: 5px 5px 0 0;
}

.alt-button {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    box-shadow: var(--grey2);
    color: black;
    border: none;
    margin: 20px 15px 15px 0;
    font-size: 1rem;
}


button:hover.white-style, .pressed.white-style {
    background-color: var(--grey3);
    box-shadow: 2px 2px 3px var(--grey3);
}

button:hover.blue-style, .pressed.blue-style {
    /*border: 1px solid var(--dark-blue);
    background-color: var(--bluish-white);
    text-shadow: white;
    box-shadow: 2px 2px 3px var(--dark-blue);*/
}

button:hover.orange-style, .pressed.orange-style {
    border: 1px solid var(--dark-orange);
    background-color: var(--orange-white);
    text-shadow: white;
    box-shadow: 2px 2px 3px var(--dark-orange);
}

button:hover.grey-style, .pressed.grey-style {
    border: 1px solid var(--grey5);
    background-color: var(--grey3);
    text-shadow: white;
    box-shadow: 2px 2px 3px var(--grey4);
}

.divider {
    height: 80%;
    width: 1px;
    background-color: var(--darkest-blue);
}

.mini-box {
    width: 30%;
}


/**  HEADER  **/

header {
    width: 100%;
    top: 0;
    z-index: 5;
    position: absolute;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 0px;
    margin-left: -15px;
}


/** IMAGES **/

#main-image::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--seethrough-grey);
  }

#main-image img {
    height: 100vh;
    position: fixed;
    z-index: -2;
}

#main-image {
    width: 100%;
    height: 101vh;
}

.image, .image img {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.image {
    margin-bottom: -10px;
}

.small-image {
    width: 40vw;
    height: auto;
}

.image-text {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.center {
    top: 40vh;
    left: 50vw;
}

.bottom {
    top: 95vh;
    left: 50vw;
}

.right {
    top: 4vh;
    right: -20px;
}

.shift-up {
    margin-bottom: -50px;
}
    

/** TABLES **/

.services{
    margin: 25px auto 0 auto;
}

.services th, .services td { /**/
    padding: 10px;
    border: 1px solid black;
    text-align: center;

}

.services th, .services td:first-child { /**/
    background-color: var(--bluish-white);
    color: black;
}

.services th:first-child {
    background-color: var(--dark-blue);
    color: black;
    border: none;
}

.services th:nth-child(2), .services tr:nth-child(2) td:first-child {
    border-radius: 10px 0 0 0; /**/
}

.services th:last-child {
    border-radius: 0 10px 0 0;
}

.services tr:last-child td:first-child { /**/
    border-radius: 0 0 0 10px;
}

.services td { /**/
    background-color: white;
    color: black;
}

.services colgroup {
    width: 250px;
}


/**  FORM DESIGN  **/

form {
    height: 700px;
    width: 40%;
    text-align: left;
    color: white;
}

form input:not(#privacy), textarea, select{
    color: white;
    border-radius: 5px;
    width: 98%;
    border: 2px solid white;
    background-color: var(--darkest-blue);
    padding: 10px 15px;
    margin: 5px 0 10px 0;
}

textarea {
    resize: none;
}

#privacy {
    accent-color: var(--dark-blue);
}

form button {
    margin-top: 20px;
    border: 2px solid white;
    background-color: var(--darkest-blue);
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 1rem;
    transition-duration: 0.4s;
}

form button:hover {
    background-color: white;
    color: var(--dark-blue)
}


/** FOOTER **/

footer {
    width: 100%;
    min-height: 300px;
    border-top: 2px solid black;
}

.footer-align {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grey5);
    height: 100px;
}


/**  COLOUR SCHEMES  **/

.bluish-white {
    background-color: var(--bluish-white);
    color: var(--dark-blue);
}

.dark-blue {
    background: var(--dark-blue);
    color: var(--bluish-white);
}

.darkest-blue {
    background: var(--darkest-blue);
    color: var(--bluish-white);
}

.faint-blue {
    background-color: var(--faint-blue);
    color: var(--dark-blue);
}

.orange-white {
    background-color: var(--orange-white);
    color: var(--dark-orange);
}

.faint-orange {
    background-color: var(--faint-orange);
    color: var(--dark-orange);
}

.white {
    background-color: white;
    color: black;
}

.grey {
    background-color: var(--grey1);
    color: black;
}

.grey-alt {
    background-color: var(--grey2);
    color: black;
}

.dark-grey {
    background-color: var(--grey1);
    color: black;
}

.darkest-grey {
    background-color: var(--grey5);
    color: var(--bluish-white);
}


